@font-face {
  font-family: "Roboto";
  src:
  local("Roboto Regular"),
  url(../fonts/web/roboto.woff) format("woff"),
  url(../fonts/web/roboto.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

.clearfix::after
{
  content: "";
  display: table;
  clear: both;
}

body
{
  font-size: 16px;
  font-family: "Roboto", "Arial", "Verdana", sans-serif;
}

.container
{
  width:1150px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;  /* Свойство необходимо для overlay-я*/
}

.background-slide1
{
  background: #849d8f url("../img/slider/ice-cream1.png") no-repeat;
  background-position: 77px 0;
}
.background-slide2
{
  background: #8996a6 url("../img/slider/ice-cream2.png") no-repeat;
  background-position: 56px 0;
}
.background-slide3
{
  background: #9d8b84 url("../img/slider/ice-cream3.png") no-repeat;
  background-position: 64px 0;
}

.overlay
{
  width: 1200px;
  height: 3500px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 50;
}

.btn
{
  padding: 12px 18px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #f26843, #ca3824);
  word-wrap: normal;
}

.btn:hover
{
  background-image: linear-gradient(to bottom, #f17f65, #ec6f5e);
  box-shadow: 0 2px 2px 0  #ac1000;
}
.btn:active
{
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 #942718;
}

input[type="submit"]
{
  display: inline-block;
  outline: none;
  border: none;
  padding: 12px 18px;
}

.main-logo
{
  width: 160px;
  height: 50px;
  padding-top: 10px;
  float: left;
}
.main-navigation
{
  min-width: 384px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 11px;
  float: left;
}

.main-navigation .navigation-list
{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.navigation-list li
{
 display: inline-block;
 padding: 10px 12px;
 margin-right: 25px;
 position: relative;
 vertical-align: top;
 font-size: 16px;
 font-weight: bold;
 cursor: pointer;
}

.navigation-list li a
{
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  color: #fff;
}

.navigation-list li:hover > a,
.navigation-list li:hover
{
 border: none;
 border-radius: 20px;
 background-color: #fff;
 color: #000;
}
.navigation-list li:active
{
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-list li:last-child
{
  margin: 0;
}

.catalog .catalog-menu
{
  display: none;
  min-width: 137px;
  padding: 11px 0;
  padding-bottom: 7px;
  position: absolute;
  top: 40px;
  left: -3px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 20px 20px 1px rgba(0,0,0,0.4);
  color: #000!important;
}
.catalog-menu li
{
  min-width: 105px;
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 11px;
}

.catalog-menu li:first-child
{
  width: 114px;
  margin-left: 7px;
  margin-bottom: 4px;
  padding-left: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #d1d0ce;
}
.catalog-menu li:nth-child(n+2)
{
  padding: 7px 0;
  padding-left: 21px;
  padding-right: 21px;
  font-weight: normal;
}
.catalog:hover .catalog-menu
{
  display: block;
}
.catalog-menu li:hover,
.catalog-menu li:active

{
  box-shadow: none;
  border-radius: 0;
}
.catalog-menu li:nth-child(n+2):hover
{
  background-color: #fbded7;
}
.catalog-menu li:nth-child(n+2):active
{
  background-color: #f6b5a5;
}

.user-block
{
  padding-top: 22px;
  width: 269px;
  float: right;
  position: relative;
}


.user-tools
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-tools li
{
  display:inline-block;
  margin-right: 10px;
  vertical-align: top;
  font-size: 14px;
}

.user-tools .tool-bucket
{
  margin-right: 0;
}
.tool-search
{
  display: block;
  width: 31px;
  height: 31px;
  margin-left: 5px;
  border-radius: 50%;
  background: rgba(255,255,255,0.2) url("../img/sprite.png") no-repeat -40px -116px;
  font-size: 0;
}
.tool-search .search
{
  font-size: 0;
}
.tool-search:hover
{
  background-color: #fff;
  background-position: -186px -116px;
}


.tool-search .form-search
{
  display: none;
  padding: 20px 15px;
  position: absolute;
  top: 54px;
  left: -307px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 20px 20px 0px rgba(0,0,0,0.4);
}

.tool-search:hover .form-search
{
  display: block;
}

.form-search input
{

  box-sizing: border-box;
  width: 311px;
  height: 44px;
  padding: 12px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
}
.user-tools .form-search label
{
  top: 3px;
  left: 31px;
}
.form-search input:active label
{
  opacity: 1;
}


.tool-enter
{
  display: block;
  width: 40px;
  min-height: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 7px;
  position: relative;
  border-radius: 19px;
  background-color: rgba(255,255,255,0.2);
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.tool-enter .entrance
{
  text-decoration: none;
  color: #fff;
}
.tool-enter:hover .entrance
{
  color: #000;
}

.tool-enter::before
{
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  position: absolute;
  top: 6px;
  left: 15px;
  background: url("../img/sprite.png") no-repeat -67px -5px;
}
.tool-enter:hover
{
  background-color: #fff;
  color: #000;

}
.tool-enter:hover::before
{
  background-position: -98px -5px;
}

.tool-enter .form-enter
{
  display: none;
  width: 241px;
  padding: 20px 17px 20px 19px;
  position: absolute;
  top: 33.5px;
  left: -184px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 20px 20px 1px rgba(0,0,0,0.4);
}

.form-enter input
{
box-sizing: border-box;
width: 241px;
height: 44px;
padding: 12px 15px;
margin-bottom: 20px;
margin-right: 9px;
border: 1px solid #d3d3d2;
border-radius: 5px;
font-size: 14px;
}
.form-enter .btn
{
  margin-right: 20px;
  float: left;
}

.form-enter .getting-password
{
  width: 130px;
  float: right;
  line-height: 24px;
}
.getting-password a
{
  color: #000;
  font-size: 13px;
}
.getting-password a:hover
{
  color: #e84d37;
}
.getting-password a:active
{
  color: #ff4d37;
}
.form-enter label[for="email1"]
{
  top: 3px;
  left: 35px;
}
.form-enter label[for="password"]
{
  top: 67px;
  left: 35px;
}
.form-enter input:active label
{
  opacity: 1;
}
.tool-enter:hover .form-enter
{
  display: block;
}
.tool-bucket .bucket
{
  display: block;
  width: 66px;
  min-height: 18px;
  margin-right: 0px;
  padding: 7px 7px 7px 44px;
  position: relative;
  border-radius: 19px;
  background-color: rgba(255,255,255,0.2);
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.bucket::before
{
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 15px;
  background: url("../img/sprite.png") no-repeat -5px -5px;
}
.bucket .full-bucket
{
  display: none;
  font-weight: bold;
}

.tool-bucket:hover .bucket
{
  background-color: #fff;
  color: #000;
}
.tool-bucket:hover .empty-bucket
{
  display: none;
}
.tool-bucket:hover .full-bucket
{
  display: block;
}
.tool-bucket:hover .bucket::before
{
  background-position: -36px -5px;
}

.tool-bucket .making-order
{
  display: none;
  width: 515px;
  max-height: 415px;
  padding: 20px 15px;
  position: absolute;
  top: 55px;
  left: -280px;
  border-radius: 8px;
  box-shadow: 0 20px 20px 1px rgba(0,0,0,0.4);
  background-color: #fff;
  overflow-y: auto;
}
.tool-bucket:hover .making-order
{
  display: block;
}

.making-order .component
{
  width: 515px;
  position: relative;
  line-height: 16px;
  font-size: 13px;
  color: #323232;
}

.component-picture
{
  width: 33px;
  height: 33px;
  margin-left: 26px;
  margin-right: 14px;
  float: left;
  position: relative;
}
.component-picture img
{
  transform: scale(0.12);
  position: absolute;
  top: -117px;
  left: -117px;
}
.component .component-close
{
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 4px;
}
.component:nth-of-type(n+2) .component-close
{
  top: 30px;
  left: 4px;
}
.component-close::before,
.component-close::after
{
  content: "";
  width: 12px;
  height: 1px;
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: #323232;
}
.component-close:hover::before,
.component-close:hover::after
{
  background-color: #fff;
  height: 2px;
}

.component-name
{
  width: 225px;
  padding-top: 8px;
  padding-right: 23px;
  float: left;
  line-height: 16px;
}

.component-quantity
{

  box-sizing: border-box;
  width: 115px;
  padding-top: 8px;
  padding-right: 12px;
  float:left;
}
.component-quantity span
{
  color: #999;
}
.component-price
{
  max-width: 70px;
  padding-top: 8px;
  padding-left: 8px;
  float: left;
  word-wrap: break-word;
}

.component:nth-of-type(n+2)
{
  padding-top: 20px;
}
.component2
{
  padding-bottom: 16px;
  border-bottom: 1px solid #cacac7;
}

.making-order .result-price
{
  max-width: 155px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 300px;
  float: right;
  line-height: 18px;
  font-size: 15px;
  font-weight: bold;
  word-wrap: break-word;
}

.making-order a.btn
{
  float: right;
  font-size: 18px;
  line-height: 24px;
}

.contacts
{
  text-align: right;
  font-weight: bold;
  color: #fff;
}

.contacts .working-time
{
  margin: 0;
  padding-top: 19px;
  font-size: 14px;
  line-height: 16px;
}
.contacts .phone-number
{
  margin: 0;
  padding-top: 7px;
  font-size: 22px;
  line-height: 24px;
}

.slider-toggles
{
  margin-right: 100px;
  padding-top: 445px;
  padding-bottom: 62px;
  float: left;
  font-size: 0;
}
.slider-toggles input
{
  display: none;
}

.slider-toggles label
{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  cursor: pointer;
  }
.slider-toggles label:last-child
{
  margin: 0;
}
.slider-toggles label:hover
{
  background-color: rgba(255,255,255,0.4);
}


input[value="toogle1"]:checked+label[for="toogle1"]
{
  background-color: #fff;
}
input[value="toogle2"]:checked+label[for="toogle2"]
{
  background-color: #fff;
}
input[value="toogle3"]:checked+label[for="toogle3"]
{
  background-color: #fff;
}

.slider-item
{
  display:inline-block;
  text-align: center;

}
.slider-item p
{
  display: inline-block;

  max-width: 685px;
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
}
.slide1
{
  padding: 278px 44px 30px 54px;
}
.slide2
{
  padding: 278px 32px 30px 42px;
}
.slide3
{
  padding: 278px 28px 30px 38px;
}

.hidden
{
  display: none;
}


.slider-btn
{
  display: inline-block;
  min-width: 200px;
  margin-left: 255px;
  margin-bottom: 40px;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
}

.actions
{
  margin-bottom: 39px;
}

.actions .action
{
  position: relative;
  width: 520px;
  min-height: 177px;
  padding: 20px;
  padding-bottom: 32px;
  border-radius: 20px;
  overflow: hidden;

}
.actions .action1
{
  float: left;
  background: url("../img/raspberry.jpg") repeat;
}
.actions .action2
{
  float: right;
  background:  url("../img/chocolate.jpg") repeat;
}

.action .action-title
{
  margin: 0;
  margin-bottom: 18px;
  line-height: 41px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}
.action .action-content
{
  margin: 0;
  margin-bottom: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}


.action .btn
{
  padding: 11px 21px;
}
.action1 .btn
{
  position: absolute;
  right: 22px;
  bottom: 17px;
}
.action2 .btn
{
  position: absolute;
  right: 22px;
  bottom: 17px;
}


.products
{
  position: relative;
  font-size: 0;
  margin-bottom: 35px;
}
.product
{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 268px;
  margin-right: 26px;
  font-size: 16px;
}
.product::before
{
  content:"";
  width: 61px;
  height: 61px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/sprite.png") no-repeat -5px -45px;
}

.product.product4
{
  margin-right: 0;
}

.product .image
{
  width: 266px;
  height: 266px;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.product .price
{

  position: absolute;
  top: 205px;
  left: 0;
  font-size: 45px;
  font-family: "Roboto Bold";
  font-weight: bold;
  color: #fff;
}
.price span
{
  padding-left: 40px;
  font-size: 35px;
}
.price::before
{
  content: "";
  width: 31px;
  height: 36px;
  position: absolute;
  top: 10px;
  left: 74px;
  background: url("../img/sprite2.png") no-repeat -5px -89px;
}

.product .product-title
{
  margin: 0;
  text-align: center;
  color: #fff;
}
.product-title span
{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.product-hover
{
  opacity: 0;
  width: 288px;
  min-height: 400px;
  position: absolute;
  top: -10px;
  left: -12px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
  z-index: 5;
}
.product-hover a.btn
{

  padding: 11px 18px;
  position: absolute;
  top: 343px;
  left: 48px;
}

.product-hover.hover2
{
  left: 282px;
}
.product-hover.hover3
{
  left: 575px;
}

.product-hover.hover4
{
  left: 868px;
}

.product-hover:hover
{
  opacity: 1;
}
.product-hover:hover +.product .product-title span
{
  border: none;
}

.about-us
{
  padding: 27px 22px;
  margin-bottom: 38px;
  border-radius: 10px;
  background: url("../img/wafer-pattern.jpg") repeat;
}
.about-us .about-us-title
{
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 30px;
}
.about-us .advantages
{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
 .about-us-item:nth-child(2n-1)
{
  margin-right: 26px;
}


.advantages .about-us-item
{
  display: inline-block;
  vertical-align: top;
  width: 490px;
  position: relative;
  margin-bottom: 22px;
  padding-left: 50px;
  font-size: 16px;
}

.about-us-item:nth-child(n+3)
{
  margin-bottom: 0;
}
.about-us-item p
{
  margin: 0;
  line-height: 22px;
}

.about-us-item::before
{
  content: " ";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  top: -9px;
  left: -5px;
  background: url("../img/sprite.png") no-repeat;
}

.about-us-item.icon1::before
{
  background-position: -134px -95px;
}

.about-us-item.icon2::before
{
  background-position: -76px -95px;
}

.about-us-item.icon3::before
{
  background-position: -196px -5px;;
}

.about-us-item.icon4::before
{
  background-position: -194px -64px;;
}

.gllacy-news
{
  padding-bottom: 40px;
}
.gllacy-news .new-articles
{
  width: 286px;
  padding: 24px 253px 74px 21px;
  float: left;
  border-radius: 17px;
  background: #fff url("../img/strawberry-bg.jpg") no-repeat ;
}
.new-articles .article-title
{
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 22px;
  font-size: 16px;
}
.new-articles a
{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}
.new-articles a:hover
{
  color: #e84d37;
}

.new-articles a:active
{
  color: #ff1d35;
}
.form-wrap
{
  width: 550px;
  padding: 6px 6px;
  float: right;
  border-radius: 15px;
  background: #fff url("../img/post-pattern.jpg") repeat;
}

.email-messages
{
  padding: 30px 21px 34px 21px;
  border-radius: 15px;
  position: relative;
  background-color: #fff;
}


.email-messages .invitation
{
  line-height: 22px;
}


.email-messages input[type="email"]
{
  box-sizing: border-box;
  width: 360px;
  height: 44px;
  padding: 12px 15px;
  margin-top: 35px;
  margin-right: 9px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

input[type="text"]+label,
input[type="email"]+label,
input[type="password"]+label,
input[type="search"]+label
{
  position: absolute;
  top: 115px;
  left: 36px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  opacity: 0;
}
input:focus+label
{
  opacity: 1;
}
.map
{
  width: 1200;
  height: 430px;
  margin-bottom: 36px;
  position: relative;
  overflow:  hidden;
  background-image: url("../img/map.jpg");
}
.adress-block
{
  width: 255px;
  padding: 30px 25px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 60px;
  right: 25px;
}
.adress-block .adress-title
{
  width: 168px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
}
.adress-title + strong
{
  line-height: 24px;
  font-size: 18px;
}
.adress-contacts
{
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
}
.adress-block p
{
  margin: 0;
}
.adress-block .phone
{
  width: 168px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}
.adress-block .time
{
  margin-bottom: 25px;
}

.adress-block a
{
  display: inline-block;
  padding: 12px 25px;
}

.form-feedback
{
  width: 435px;
  padding: 19px 25px;
  position: absolute;
  top: 340px;
  left: 363px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 500;
}

.feedback-title
{
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 28px;
}

.form-feedback input:not(:last-of-type),
.form-feedback textarea
{
  box-sizing: border-box;
  padding: 12px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.form-feedback input:not(:last-of-type)
{
  width: 270px;
  height: 44px;
  margin-bottom: 20px;
}
.form-feedback textarea
{
  width: 430px;
  height: 155px;
  margin-bottom: 25px;
  resize: none;
}

.form-feedback input:not(.btn):hover,
.form-feedback textarea:hover,
 input[type="email"]:hover,
 input[type="search"]:hover

{
  border: 2px solid #c7c6c5;
}
.form-feedback label[for="username"]
{
top: 53px;
}
.form-feedback label[for="usermail"]
{
top: 117px;
}
.form-feedback input[type="submit"]
{
  float: right;
}
.form-feedback .form-close
{
  width: 19px;
  height: 19px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.form-close::before,
.form-close::after
{
  content: "";
  width: 19px;
  height: 2px;
  position: absolute;
  top: 8px;
  right: 0px;
  background-color: #000;

}
.form-close::before,
.component-close::before
{
  transform: rotate(45deg);
}
.form-close::after,
.component-close::after
{
  transform: rotate(-45deg);
}
.form-close:hover,
.component-close:hover
{
  background-color: #000;
}
.form-close:active,
.component-close:active
{
  opacity: 0.5;
}
.form-close:hover::before,
.form-close:hover::after,
{
  background-color: #fff;
  height: 3px;
}

.main-footer
{
  padding-bottom: 25px;
}
.footer-social
{
  width: 200px;
  padding-top: 36px;
  margin-right: 95px;
  float: left;
  font-size: 0;
}

.footer-social a
{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
  border: 3.1px solid #c1cdc7;
  background: url("../img/sprite.png") no-repeat;
  opacity: 0.8;
}


.footer-social .twitter
{
  background-position: -193.3px -149.8px;
}

.footer-social .instagramm
{
   background-position: -4.8px -122.8px;
}

.footer-social .facebook
{
   background-position: -128.8px -4.8px;
}

.footer-social .vk
{
   background-position: -4.8px -191.8px;
   margin-right: 0;
}

.footer-social a:hover
{
  opacity: 1;
  border-color: #dbe3de;
}

.footer-social a:active
{
  box-shadow: inset 0 2px 3px 0 #888888;
  border-color: #d9e1dd;
}


.footer-documents
{
  width: 328px;
  margin: 0;
  margin-right: 26px;
  padding-top: 35px;
  padding-left: 106px;
  padding-right: 94px;
  float: left;
  list-style: none;
}
.footer-documents li
{
  display: inline-block;
  margin-right: 32px;
  font-size: 12px;
}
.footer-documents li:nth-of-type(3)
{
  margin-right: 43px;
}
.footer-documents li:nth-child(2n)
{
  margin-right: 0;
}
.footer-documents a
{
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer-documents a:hover
{
  color: #ffbc9e;
  border-color: #a7a294;
}

.footer-documents a:active
{
  color: #ffaa9e;
  border-color: #baa294;
}

.footer-documents .provider-love
{
  position: relative;
}
.footer-documents .provider-love::before
{
  content: "";
  display: block;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: -21px;
  background: url("../img/sprite.png") no-repeat -171px -5px;
  cursor: pointer;
}

.footer-copyright
{
  width: 192px;
  padding-top: 20px;
  padding-left: 77px;
  float: right;
}
.footer-copyright .logo
{
  width: 108px;
  height: 38px;
  margin-bottom: 5px;
  background: url("../img/sprite.png") no-repeat -76px -47px;
}
.footer-copyright .copyright-content
{
  min-width: 192px;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.copyright-content a
{
  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-decoration: none;
  color: inherit;
}
.copyright-content a:hover
{
  color: #ffbc9e;
  border-color: #a7a294;
}

.copyright-content a:active
{
  color: #ffaa9e;
  border-color: #baa294;
}
